.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#box-container {
  display:flex;
  flex-direction: row;
  width:100%;
}

.item-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.items {
  flex:1 0 25%;
  margin: 20px;
  border: 1px solid black;
}

#meal-items {
  display:flex;
  flex-direction: column;
  width:30%;
  height:250px;
}

#add-meal-text {
  width: 50%;
  display: inline-block;

}
#show-if-meal {
  width: 30%;
  display: inline-block;
}

.small-remove {
  width: 25%;
  padding: 10px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*set size on all images to same size as original from recipepuppy */
.thumbnail {
  height: 80px;
  width: 107px;
}

input[type=text] {
  width: 33%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

